@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.fancy-border-1, .fancy-border-2 {
    background-image: conic-gradient(from var(--angle), #ff6ec4, #ff9a8b, #7873f5, #1fd1f9, #1fd1f9, #78f573, #f5e178, #ff9a8b, #ff6ec4);
    padding: 3px;
    animation: 3s spin linear infinite;
}

.fancy-border-2 {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}